@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.header{margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto;}
img#head{width: 100%;}
img#one{margin-left: 400px; margin-right: auto;}
img#two{margin-left: 250px}
body {
background: rgba(241, 190, 173);
font-family: 'Work Sans', sans-serif;
}

.text{ 
margin-left: 150px;
margin-right: 150px;
}

p{
font-size: 25px;

}

h1{font-family: roboto-slab; font-size: 45px;}
h3{font-family: roboto-slab; font-size: 30px}
h5#anagut{text-align: center;}

p.ana1 {
text-decoration: italic;
line-height: 200%;
letter-spacing:-.1em;
text-align:center;
}

#hex{
color: #c02821;
font-family: roboto-slab;
font-size: 30px;
text-align: center;
}

#named{
color: maroon;
}
#rgb{
color: black;
}